<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antares.judge.mapper.ProblemSubmitMapper">

    <resultMap id="BaseResultMap" type="com.antares.judge.model.entity.ProblemSubmit">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="judgeInfo" column="judge_info" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="problemId" column="problem_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,language,code,
        judge_info,status,problem_id,
        user_id,create_time,update_time,
        is_delete
    </sql>

    <select id="getPassCount" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT problem_id)
        FROM problem_submit
        WHERE user_id = #{userId} AND status = 3
        <if test="ids != null and ids.size() > 0">
            AND problem_id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>
