<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antares.judge.mapper.ProblemMapper">

    <resultMap id="BaseResultMap" type="com.antares.judge.model.entity.Problem">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="difficulty" column="difficulty" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="answer" column="answer" jdbcType="VARCHAR"/>
        <result property="submitNum" column="submit_num" jdbcType="INTEGER"/>
        <result property="acceptedNum" column="accepted_num" jdbcType="INTEGER"/>
        <result property="judgeCase" column="judge_case" jdbcType="VARCHAR"/>
        <result property="judgeConfig" column="judge_config" jdbcType="VARCHAR"/>
        <result property="thumbNum" column="thumb_num" jdbcType="INTEGER"/>
        <result property="favourNum" column="favour_num" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        difficulty,tags,answer,
        submit_num,accepted_num,judge_case,
        judge_config,thumb_num,favour_num,
        user_id,create_time,update_time,
        is_delete
    </sql>

    <select id="getPrevNextProblemId" resultType="java.lang.Long">
        <choose>
            <!-- 查询下一个 ID -->
            <when test="direction == 'next'">
                SELECT MIN(id)
                FROM problem
                WHERE id &gt; #{id}
            </when>
            <!-- 查询上一个 ID -->
            <when test="direction == 'prev'">
                SELECT MAX(id)
                FROM problem
                WHERE id &lt; #{id}
            </when>
            <!-- 默认情况，如果方向不明确 -->
            <otherwise>
                SELECT NULL
            </otherwise>
        </choose>
    </select>
</mapper>
